@model WebAppParcial.Models.Devolucion

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Esta seguro de eliminar la devolucion del libro?</h3>
<div>
    <h4>Devolucion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prestamo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prestamo.PrestamoID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DevolucionID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index"><i class="fas fa-backward">Atrás</i></a>
    </form>
</div>
