
@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
    <div class="container">
        <div class="text-center">
            <h1 class="display-4">Sistema de Gestion de Prestamos de Libros de la Biblioteca</h1>
        </div>
        Misión: <br/>
        <br />
        Esta bibliteca esta comprometida <br />
        con la implementacion de programas <br />
        tendientes a lograr que la comunidad <br />
        en general, adquiera el hábito de la <br />
        lectura y que cada usuario lea como <br />
        minimo (6) libros por año.

        <div class="text-md-right">
        Objetivos: <br />
        <br />
        Promocionar el hábito de la lectura. <br />
        Apoyar la cnsulta de informacion local a los usuarios. <br />
        Manejar la biblioteca, plantear, organizar, dirigir y controlar <br />
        todas las actividades tecnicas de la Biblioteca. <br />
        Organizar programas de lectura, tertulias literarias y actividades <br />
        culturales dentro y fuera de la biblioteca.
        
        </div>
        <div>
        Metas: <br />
        <br />
        Logra el incremento y sostenimiento de los <br />
        indices estadicticos, en lo relacionado con la <br />
        consulta y la lectura de la Biblioteca.
        </div>
    </div>
    